/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Dark cyan: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)

### Neutral

- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 14px

### Font

- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weights: 500, 700

- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700 */

:root {
  --clr--white-primary: hsl(0, 0%, 100%);
  --clr-cream-primary: hsl(30, 38%, 92%);
  --clr-dark-cyan-primary: hsl(158, 36%, 37%);
  --clr-very-dark-neutral: hsl(212, 21%, 14%);
  --clr-dark-grayish-neutral: hsl(228, 12%, 48%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background-color: var(--clr-cream-primary);
  color: var(--clr-dark-grayish-neutral);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

main {
  min-height: 100vh;
  display: grid;
  place-content: center;
}

/* Product card */

.product-card {
  max-width: 60rem;
  background-color: var(--clr--white-primary);
  border-radius: 0.8rem;
  overflow: hidden;
  margin-inline: 2rem; /*  Horizontal margin */
}

.product-card__content {
  padding: 2rem;
  display: grid;
  gap: 1.5rem;
}

/* Product card text */

.product-card__ribbon {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.product-card__title {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
  color: var(--clr-very-dark-neutral);
}

/* Product card prices */

.product-card__prices {
  display: flex;
  align-items: center;
}

.product-card__new-price {
  padding-right: 2rem;
  font-family: "Fraunces", serif;
  font-size: 3rem;
  color: var(--clr-dark-cyan-primary);
}

.product-card__old-price {
  text-decoration: line-through;
}

/* btn */

.btn {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  color: var(--clr--white-primary);
  font-weight: 700;
}

.btn img {
  margin-right: 1rem;
}

.product-card__btn {
  background-color: var(--clr-dark-cyan-primary);
}

.product-card__btn:hover {
  background-color: var(--clr-very-dark-neutral);
  cursor: pointer;
}

.product-card__btn:focus {
  background-color: var(--clr-very-dark-neutral);
}

/* Media query for desktop */

@media (min-width: 650px) {
  .product-card {
    max-width: 60rem;
    display: flex;
  }

  .product-card__img,
  .product-card__content {
    flex: 1;
  }

  .product-card__content {
    padding-top: 3rem;
    padding-left: 3rem;
  }

  .product-card__title {
    max-width: 80%;
  }

  .product-card__desc {
    line-height: 1.8;
    max-width: 85%;
  }

  .product-card__btn {
    max-width: 90%;
  }
}
